@charset "utf-8"

* {
	margin: 0px;
	padding: 0px;
}

article, section, header, footer {
	display: block;
}

body {
	font-size: 62.5%;
	font-family: Sylfaen, "Times New Roman", serif;
	line-height: 160%;
}

h1 {
	font-size: 3.0em;
	font-weight: normal;
	color: #305c82;
}

h2 {
	font-size: 1.8em;
	font-weight: normal;
	color: #333333;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	color: #333333;
}

p, dt, dd, ul, ol {
	font-size: 1.4em;
}

.highlight {
	-webkit-animation: ease-in;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: highlight;

	-moz-animation: ease-in;
	-moz-animation-duration: 1s;
	-moz-animation-name: highlight;

	animation: ease-in;
	animation-duration: 1s;
	animation-name: highlight;
	animation-iteration-count: infinite;
}

@-webkit-keyframes highlight {
	from{ background: #e1f3f4;}
	33%{ background: #c3e2e3;}
    66%{ background: #e1f3f4;}
    99%{ background: #c3e2e3;}
    to{ background: #e1f3f4;}
}

@-moz-keyframes highlight {
	from{ background: #e1f3f4;}
	33%{ background: #c3e2e3;}
    66%{ background: #e1f3f4;}
    99%{ background: #c3e2e3;}
    to{ background: #e1f3f4;}
}

@keyframes highlight {
	from{ background: #e1f3f4;}
	33%{ background: #c3e2e3;}
    66%{ background: #e1f3f4;}
    99%{ background: #c3e2e3;}
    to{ background: #e1f3f4;}
}

.message {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px 15px;
	border: 1px solid #cccccc;	
}

button,
button.enable {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px 15px;
	text-transform: capitalize;
}

button.disable {
	color: #cccccc;
	background: #efefef;
}